*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto' sans-serif;
} 
 .container{
    width: 1440px;
    margin: 0 auto;
}
.img1{
    width: 1440px;
    margin-left: -20px;
    margin-top: 100px;
}
.surot2{
    margin-top: 202px;
    margin-left: 617px;
}
.block1{
    position: relative;
}
.block1 h1{
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    color: #274C5B;
}
.surot{
    margin-left: 270px;
    margin-top: 170px;
}
.suroti{
    margin-left: 270px;
}
.h1i{
    margin-left: 220px;
    font-weight: 500;
    font-size: 25px;
    color: #274C5B;

}
.pi{
    line-height: 40px;
    font-weight: 400;
    font-size: 18px;
    color: #525C60;

}
.surot6{
    margin-left: 390px;
    margin-top: -730px;


}
.surot7{
    position: absolute;
    bottom: 1320px;


}
.btn{
    width: 226px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #1A3E3E;
    color: #ffffff;
    padding: 20px 65px ;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 650px;
   
}
