 .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px; 
}


.header a{
  text-decoration: none;
}
  .header:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15); 
  }

  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    margin-right: 15px;
  }
  
  .organick {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    color: #333;
  } 

  .header-left {
    display: flex;
    align-items: center;
    margin-left: -260px;
  }
  
  .id {
    list-style: none;
    display: flex;
    gap: 25px;
    
  }
  
  .id li {
    font-size: 20px;
  }
  
  .id li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .id li a:hover {
    color: red; 
  }

  .select {
    padding: 8px 15px;
    font-size: 16px;
   border: 2px solid #f8f8f8;
    outline: none;
    transition: all 0.3s ease;
    margin-top: -10px;
  }
  .cart-container {
    display: flex;
    align-items: center;
    width: 160px; 
    height: 60px; 
    border: 1px solid #E0E0E0; 
    border-radius: 30px;
  }
  .cart-container:hover{
    background-color: #272727;
    color: white;
  }
  .cart-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
   
  }
  
   .icon-wrapper {
    margin-left: 5px;
    display: flex;
    align-items: center;
     justify-content: center;
    width: 50px;
    height: 50px;
     border-radius: 50%;
    background-color: #656a69;
    transition: background-color 0.3s ease,
   }
  
  .cart-icon {
    font-size: 30px;
    color: white;
    margin-left: -5px;
  }
  
  .cart-count {
    font-size: 20px;
   margin-left: 7px;
    color: #333;
    padding: 5px 12px;
  } 
.cart-count:hover{
color: white;
}
